<form id="#edit_question" action="/questions/<%= @question.id %>/edit" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="new_question[title]" value="<%= @question.title %>">
  <input type="text" name="new_question[content]" value="<%= @question.content %>">
  <button type="button" class="btn">Edit</button>
</form>
