<form id="#new_question" action="/questions" method="post">
  <input type="text" name="new_question[title]" placeholder="Title">
  <input type="text" name="new_question[content]" placeholder="Content">
  <input type="submit" class="btn" value="Create">
</form>
