<form id="#new_question" action="/questions" method="post">
  <input type="text" name="new_question[title]" placeholder="Title">
  <input type="text" name="new_question[content]" placeholder="Content">
  <button type="button" class="btn">Create</button>
</form>
