<form action="/users/sessions" method="post">
  <input type="text" placeholder="Email" name="email">
  <input type="password" placeholder="Password" name="password">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="mdi-content-send right"></i>
    </button>
</form>
