<form action="/users" method="post">
  <input type="text" placeholder="First Name" name="user[first_name]">
  <input type="text" placeholder="Last Name" name="user[last_name]">
  <input type="text" placeholder="Email" name="user[email]">
  <input type="text" placeholder="Password" name="user[password]">
  <input type="submit">
</form>
