<form action="/users" method="post">
  <input type="text" placeholder="First Name" name="user[first_name]">
  <input type="text" placeholder="Last Name" name="user[last_name]">
  <input type="text" placeholder="Email" name="user[email]">
  <input type="password" placeholder="Password" name="user[password]">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="mdi-content-send right"></i>
    </button>
</form>
