<div class="new-answer">
  <form action="/answers" method="post">
    <input type="text" name="title" ><br>
    <input type="text" name="content"><br>
    <input type="submit" class="btn" value="Submit Answer">
  </form>
</div>
