<nav class="light-blue lighten-1" role="navigation">
  <div class="container">
    <a href="/" class="brand-logo left">Jet OverFlow</a>
    <% if user_authenticated? %>
      <a id="logout" href="/users/logout">Logout</a>
    <% else %>
      <a id="login" href="/users/login">Log In </a>
      <a id="signup" href="/users/new">Sign Up</a>
    <% end %>
  </div>
</nav>
